<div class="h-100 w-100 d-flex align-items-center">
  <div class=" container d-flex flex-column align-items-center mt-5 py-4 w-30" >
    <h1 class="mb-3">New user</h1>

    <%= render "form", user: @user %>

    <br>

    <div>
      <%= link_to "Back to users", users_path %>
    </div>
  </div>
</div>
